<header class="page-header">
  <div class="container">
    <nav class="navbar level is-mobile">
      <a class="level-left" href="{{ .Site.BaseURL }}/">
        <div class="portrait-parent">
          <div class="my-photo"></div>
        </div>
        <h1 class="title is-hidden-touch">{{ .Site.Title }}</h1>
      </a>
      <div class="level-item">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <a class="menu-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a>
        {{ end }}
      </div>
      <div class="level-right is-hidden-mobile">
        {{ range .Site.Params.social }}
        <a class="level-item" href="{{ .url }}">
          <span class="icon">
            <i class="fa {{ .fa_icon }}"></i>
          </span>
        </a>
        {{ end }}
      </div>
    </nav>
  </div>
</header>
